<h1>Official Scrabble Timer Rules</h1>
Game clocks are set up so that each person is given 25 minutes to complete all his/her turns. That way, a player may play quickly for easy plays and save up time in order to take five or more minutes for the difficult plays. If a player uses more than 25 minutes, then s/he is penalized 10 pt. every minute or fraction of a minute used more than the original 25.
